-if notice
  %p{:id => "notice"}=notice


%h2 マイページ

%p{:class => "welcome"}="ようこそ#{@user.name}さん"

%h4 あなたの活動記録
#user-record
  %ul
    -unless @user
      %li まだ活動記録がありません
    -else
      -@user.aas.each do |aa|
        %li
          %dl
            %dl
              %dt
                %dt=aa.name
                %dd
                  .aa=aa.body
              %dd
                =link_to '編集する', edit_aa_path(aa.id)
                =button_to '削除する', aa, method: :delete, confirm: '削除してもよろしいですか？'
            

