= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form
    =f.label :name, 'ユーザ名'
    =f.text_field :name
  .form
    =f.label :email, 'メールアドレス'
    =f.text_field :email
  .form
    =f.label :password, 'パスワード'
    =f.password_field :password
  .form
    =f.label :password_confirmation, 'パスワード確認'
    =f.password_field :password_confirmation
  .action
    =f.submit '会員登録'
