%h3="タグ検索結果#{@tags_count}件ヒット"

#aa-list
  -if @aas
    -@aas.each_with_index do |aa, i|
      %section
        %h1= aa.name
        %div{:id => "aa#{i}", :class => "aa"}=simple_format(aa.body)
        .copy-button クリップボードにコピー
  -else
    %p ヒットしませんでした。
