%h3="タグ検索[#{@search}]の結果#{@asciiArts.total_count}件のＡＡがヒットしました。"

#aa-list
  -if @asciiArts
    = render(partial: "aas/asciiArt", object: @asciiArts)
    = paginate @asciiArts
  -else
    %p ヒットしませんでした。
