%p 登録されているタグ

.tags
  -if @tags
    %ul
      -@tags.each do |tag|
        %li= tag.tag
        =button_to 'x', tag, :method => :delete, confirm:'選択されたタグを削除します'
    -else
      %li タグはまだありません

%fieldset
  
  %legend タグ登録
  = render 'form'

= link_to 'ホームへ', root_path
