%h2 タグ登録フォーム

.tags
  %ul
    -if @tags
      -@tags.each do |tag|
        %li=tag.tag
        =button_to '×', tag, :method => :delete, confirm:'選択されたタグを削除します'
    -else
      %li タグはまだありません


= render 'form'

= link_to 'ホームへ', root_path
