- if notice
  %p#notice= notice

%p{style: "border-bottom: 2px dashed rgba(60, 60, 60, .34); font-weight: bold;"} 登録されているタグ

.current-tags
  -if @tags
    - @tags.each do |tag|
      .current-tag
        %span= tag.tag
        = button_to 'x', tag, :method => :delete, confirm:'選択されたタグを削除します'
  -else
    %li タグはまだありません

%fieldset
  = render 'form'

-#= link_to '戻る', :back
