@charset "UTF-8"

// CSSリセット
@import reset
// prefix
@import prefix
// variable
@import variable
// columns: 12
@import glid
// font: fontello
@import fonts

#admin

  .welcome
    margin: 1em 0
    
  section
    margin: 1em 0 2em
    color: $mainColor

    h1
      padding: 0 0 .1em .5em
      height: 1em
      border-left: 5px solid $accentColor
      letter-spacing: .2em
      @media #{$tab}
        margin-top: 1.3em
        font-size: 1.6em
      @media #{$smp}
        font-size: 1.4em

    .aa
      margin-bottom: .5em
      background-color: darken($baseColor, 5%)
      border: 5px solid $mainColor
      +borderBox

      p
        font-family: "MS Pゴシック"
        line-height: normal
        color: $mainColor
        font-size: percentage(12 / 13)
        margin: 0
        text-shadow: .021em .021em .055em, -.021em -.021em .055em
        @media #{$smp}
          font-size: 100% / 16 * 8

    .options
      
      ul
        +grid(1, 1)
        height: 1em
        @media #{$tab}, #{$smp}
          width: 100%
          margin-left: 0

        li
          +grid(2, 1)
          text-align: right
          margin-bottom: 1em

          a
            color: $mainColor
            &:hover
              border-bottom: 1px dashed $mainColor
              color: $mainHover
            @media #{$tab}, #{$smp}
              font-size: .89em
              &:hover
                border-bottom: none

          input[type="submit"]
            color: $mainColor
            font-size: 1em
            background-color: transparent
            border: none
            &:hover
              border-bottom: 1px dashed $mainColor
              color: $mainHover
            @media #{$tab}, #{$smp}
              font-size: .89em
              &:hover
                border-bottom: none
