@charset 'UTF-8'
// CSSリセット
@import reset
// プレフィックスが必要なものまとめ
@import prefix
// 変数まとめ
@import variable
// 12Columns
@import glid
@import fonts

#admin

  h2
    font-size: 2.1em
    margin-top: .3em

  .welcome
    margin: 1em 0
    
  h4
    font-size: 1.3em
    margin-bottom: 1em

  dl

    dd

      .aa
        background-color: darken($baseColor, 5%)
        border: 3px solid $mainColor
        @media #{$smp}
          font-size: 100/ 16 * 8%
        +borderBox
  
      .options
        
        ul
          +push(5, 8)
          +column(3, 8)
          @media #{$tab}, #{$smp}
            width: 100%
            margin-left: 0

          li
            +column(1, 2)
            text-align: right
            margin-bottom: 1em

            a
              color: $mainColor
              &:hover
                border-bottom: 1px dashed $mainColor
                color: $mainHover
              @media #{$tab}, #{$smp}
                font-size: .89em
                &:hover
                  border-bottom: none

            input[type="submit"]
              color: $mainColor
              font-size: 1em
              background-color: transparent
              border: none
              &:hover
                border-bottom: 1px dashed $mainColor
                color: $mainHover
              @media #{$tab}, #{$smp}
                font-size: .89em
                &:hover
                  border-bottom: none
