@charset "UTF-8"

// default: 12columns
$column: percentage( (980 / 12 - 13) / 967 )
$columns: 12

// micro clearfix
=clearfix
  *zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

=grid($columns, $width_columns, $push_columns: 0, $pull_columns: 0)
  @if $columns == $width_columns
    display: block
    +clearfix
  @else
    display: inline
    float: left
  width: 100% / $columns * $width_columns
  //@if $push_columns != 0 and $pull_columns != 0
  margin-left: 100% / $columns * $push_columns
  margin-right: 100% / $columns * $pull_columns

// あとで消す
=row($columns: $columns)
  display: block
  width: $column * $columns
  +clearfix

=column($x: $columns, $columns: $columns)
  display: inline
  width:  100% / $columns * $x
  float: left

=push($offset: 1, $columns: $columns)
  margin-left: 100% / $columns * $offset 

=pull($offset: 1, $columns: $columns)
  margin-right: 100% / $columns * $offset


