$prefix: '', -webkit-, -moz-
$prefix_all: -webkit-, -moz-, -o-, -ms-, ''

=borderBox
  @each $p in $prefix
    #{$p}box-sizing: border-box

=boxShadow($values)
  @each $p in $prefix
    #{$p}box-shadow: $values

=radius($px)
  @each $p in $prefix
    #{$p}border-radius: $px

=border-boxShadow($border: $border, $color: rgba(60, 60, 60, .5))
  box-shadow: 0 0 0 $border $color
  -webkit-box-shadow: 0 0 0 $border $color
  -moz-box-shadow: 0 0 0 $border $color

=borderRadius($px)
  border-radius: $px
  -webkit-border-radius: $px
  -moz-border-radius: $px
