@charset "UTF-8"

// CSSリセット
@import reset
// prefix
@import prefix
// variable
@import variable
// columns: 12
@import glid
// font: fontello
@import fonts

#new_tag
  margin-top: 5em

#tags
  
  #main

    h2
      margin-top: .3em

    .tags
      height: 13.4em
      margin-top: 3em

    ul
      display: inline

      li
        float: left
        margin: 0 0 0 1em
        &:before
          font-family: 'fontello'
          content: 't'

      form
        position: relative
        bottom: .3em

        input[value="×"]
          border: none
          background-color: transparent
          font-size: 1.4em
          cursor: pointer

    a
      color: $mainColor
      margin-left: .5em

    section
      margin: 1em 0 2em
      color: $mainColor

      h1
        padding: 0 0 .1em .5em
        height: 1em
        border-left: 5px solid $accentColor
        letter-spacing: .2em
        @media #{$tab}
          margin-top: 1.3em
          font-size: 1.6em
        @media #{$smp}
          font-size: 1.4em

      .aa
        margin-bottom: .5em
        background-color: darken($baseColor, 5%)
        border: 5px solid $mainColor
        +borderBox

        p
          font-family: "MS Pゴシック"
          line-height: normal
          color: $mainColor
          font-size: percentage(12 / 13)
          margin: 0
          text-shadow: .021em .021em .055em, -.021em -.021em .055em
          @media #{$smp}
            font-size: 100% / 16 * 8

    .copy-button
      cursor: pointer
      +grid(8, 5)
      color: $mainColor
      &:hover
        border-bottom: 1px dashed $mainColor
        color: $mainHover
      &:before
        font-family: 'fontello'
        content: 'd'
      @media #{$tab}
        font-size: .89em
        +grid(2, 1)
