@charset "utf-8"

// CSSリセット
@import reset
// プレフィックスが必要なものまとめ
@import prefix
// 変数まとめ
@import variable
// 12Columns
@import glid
@import fonts

body
  font:
    size: 100% / 16 * 13
    family: "MS PGothic", "Osaka", Arial, sans-serif 
  line-height: 1.4em
  padding-top: 5px
  color: $mainColor

// top
#contents
  @media #{$des}
    max-width: $width
    margin: 0 auto
  @media #{$smp}, #{$tab}
    width: 100%
  position: relative
  +row

  #side
    +borderBox
    +column(1, 4)
    @media #{$smp}, #{$tab}
      +column(4, 4)

    header
      @media #{$des}
        padding-top: 1em
      @media #{$smp}, #{$tab}
        width: 100%
      +row

      #title
        @media #{$des}
          +sideField
        @media #{$tab}
          +column(2,12)
        @media #{$smp}
          +column(1, 2)
          background-color: $mainColor
          padding: .3em 0

        h1
          @media #{$des}
            background: url("title.png") no-repeat
            width: inherit
            height: 156px
            width: 100%
            &:hover
              background: url("title_hover.png") no-repeat
          @media #{$tab}
            background: url("title_tab.png") no-repeat
            height: 109px
            &:hover
              background: url("title_hover_tab.png") no-repeat
          @media #{$des}, #{$tab}
            text-indent: 100%
            white-space: nowrap
            overflow: hidden
          @media #{$smp}
            font-size: 1.4em
            background: none
            color: $baseColor
            text-indent: 1em
            height: auto

      #registration
        @media #{$des}
          height: 2em
          +sideField
        @media #{$tab}
          +column(5, 12)
          height: 109px
        @media #{$smp}
          +column(1, 2)
          background-color: $mainColor
          padding: .3em 0
          height: auto

        a
          @media #{$des}
            font-size: 1.3em
            position: relative
            top: 0.2em
            margin-left: .2em
          @media #{$tab}
            font-size: 1.3em
            position: relative
            top: 2em
            left: 5em
          @media #{$smp}
            font-size: 1.4em
            color: $baseColor
            text-align: center
            display: block
            position: static
          @media #{$des}, #{$tab}
            &:hover
              border-bottom: 1px dashed $mainColor
              color: $mainHover
          &:before
            font-family: 'fontello'
            vertical-align: top
            content: 'p'

      nav
        @media #{$des}
          +sideField
        @media #{$tab}
          +column(5, 12)
          height: 109px
        @media #{$smp}
          width: 100%
          height: auto

        ul li
          //padding: .3em 0
          @media #{$tab}
            height: 109 / 4 * 1px
          @media #{$smp}
            +column(1, 4)
            border-bottom: 2px dashed $mainColor
            padding: .1em 0
            margin-bottom: .5em

          a
            @media #{$des}, #{$tab}
              font-size: 1.3em
              &:hover
                border-bottom: 1px dashed $mainColor
                color: $mainHover
              &:before
                font-size: 2.1em
                vertical-align: middle
                content: '・'
            @media #{$smp}
              font-size: 1em
              display: block
              text-align: center
              &:before
                content: ''

          form
            float: left
            font-size: 1.3em
            +sideField
            position: relative
            &:hover
              border-bottom: 1px dashed $mainColor
              color: $mainHover
            &:before
              font-size: 2.1em
              vertical-align: middle
              content: '・'
            @media #{$smp}
              font-size: 1em
              position: relative
              top: 2.1em
              right: 0.8em
              &:before
                content: ''

            div
              position: absolute
              bottom: .4em
              left: 1em

              input[type="submit"]
                border: none
                font-size: 1em
                background-color: transparent
                color: $mainColor

      #search
        @media #{$des}
          +sideField
        @media #{$tab}
          +push(2, 12)
          +column(8, 12)
          +pull(2, 12)
        @media #{$smp}
          width: 100%
          +push(0, 12)
          +pull(0, 12)

        input[type="search"]
          @media #{$des}
            height: 1.8em
            font-size: 1.3em
          @media #{$tab}
            margin-top: 1em
            height: 1.3em
          @media #{$des}, #{$tab}
            +column(8, 10)
            border: 2px dashed $mainColor
            border-right: 3px solid $mainColor
          @media #{$smp}
            +push(1, 10)
            +column(7, 10)
            height: 1em
            font-size: 1em
            border: 2px dashed $mainColor
          outline: none
          -webkit-appearance: textfield
          color: $mainColor

        input[type="submit"]
          @media #{$des}
            font-size: 1.3em
            height: 1.8em
            padding: .2em .2em 0 0
          @media #{$tab}
            height: 1.3em
            margin-top: 1em
          @media #{$des}, #{$tab}
            +column(2, 10)
            &:hover
              text-shadow: 0 0 .8em $baseColor
          @media #{$smp}
            +pull(1, 10)
            +column(1, 10)
            height: 1.1em
            font-size: .89em
            position: relative
            top: .15em
          font-family: 'fontello'
          background-color: $mainColor
          border: none
          color: $baseColor

        input
          margin: 0

      #popular-tags
        @media #{$des}
          +sideField
        @media #{$tab}
          margin-top: 1em
        @media #{$tab}, #{$smp}
          +column(1, 2)
        
        //h3
          //@media #{$smp}
            //text-indent: .5em

      #random-tags
        @media #{$des}
          +sideField
        @media #{$tab}
          margin-top: 1em
        @media #{$tab}, #{$smp}
          +column(1, 2)

        //h3
          //@media #{$smp}
            //text-indent: .5em


  #main
    @media #{$des}
      +column(3, 4)
      margin-bottom: 2em
    @media #{$tab}, #{$smp}
      width: 100%
      padding: 0 .3em
      margin: 8.5em 0 2em
    +borderBox

    #search-area
      margin-bottom: 1em

    #aa-list
      @media #{$smp}
        margin-top: 10em

      dl
        clear: both

        dt 
          @media #{$des}
            padding: 0.2em

          h2
            @media #{$des}
              font-size: 2.1em
            @media #{$tab}
              margin-top: 1.3em
              font-size: 1.6em
            @media #{$smp}
              font-size: 1.4em
            margin: 0.2em
            padding: 0 0 .1em .5em
            height: 1em
            border-left: 5px solid $accentColor
            letter-spacing: .2em

          .tags
            @media #{$des}
              height: 1.4em

            ul
              display: inline

              li
                float: left
                margin: 0 0 0 1em
                &:before
                  font-family: 'fontello'
                  content: 't'

            a
              color: $mainColor
              margin-left: .5em

        dd 
          clear: both

          .aa
            @media #{$des}
              margin-bottom: 1em
            @media #{$tab}
              margin: 0 .3em
            @media #{$smp}
              margin-bottom: .3em
            background-color: darken($baseColor, 5%)
            border: 3px solid $mainColor
            +borderBox

            p
              font-family: "MS Pゴシック"
              line-height: normal
              font-size: 100% / 16 * 12
              color: $mainColor
              @media #{$smp}
                font-size: 100% / 16 * 8

          .copy-button
            @media #{$des}
              cursor: pointer
              +column(5, 8)
              &:hover
                border-bottom: 1px dashed $mainColor
                color: $mainHover
            @media #{$tab}, #{$smp}
              font-size: .89em
              +column(1,2)
            color: $mainColor
            &:before
              font-family: 'fontello'
              content: 'd'

          .user-info
            @media #{$des}
              +push(1, 8)
              +column(2, 8)
            @media #{$tab}, #{$smp}
              font-size: .89em
              +column(1, 2)
            text-align: right
            color: $accentColor


  #scroll-btn
    display: none
    height: 1.4em
    width: 1.4em
    background-color: $mainColor
    +borderRadius(5px)
    color: $baseColor
    position: fixed
    right: 8em
    bottom: 1.3em
    font:
      weight: bold
      size: 2em
    padding: .2em 0 0 .05em
    +borderBox
    &:after
      font-family: 'fontello'
      content: 'u'

  footer
    clear: both
    margin-top: 1em
    padding-top: 1em
    border-top: 3px dashed $mainColor
    font-family: 'fontello'
    
    h3
      @media #{$des}
        font-size: 1.6em
      @media #{$smp}
        font-size: 1em
        &:before
          content: '・'
      font-weight: bold

    #left-footer
      @media #{$des}, #{$tab}
        +column(6, 12)
      @media #{$smp}
        width: 100%

      #social
        height: 1em
        width: 100%

        ul
          display: inline

          li
            +column(1, 12)

          #twitter
            &:after
              content: 'T'
              color: $accentColor

          #fb
            &:after
              content: 'F'
              color: $accentColor

          #tumblr
            &:after
              content: 'U'
              color: $accentColor


      #contact
        width: 100%
        clear: both

        div
          &:before
            content: 'c'
            color: $accentColor


    #right-footer
      @media #{$des}, #{$tab}
        +column(6, 12)
      @media #{$smp}
        width: 100%
    
      #sitemap
        width: 100%

        div
          &:before
            content: 'm'
            color: $accentColor

    #copylight
      clear: both

      span
        display: block
        text-align: center
        font-weight: bold
        @media #{$smp}
          font-size: .89em
