@charset "UTF-8"

// CSSリセット
@import reset
// prefix
@import prefix
// variable
@import variable
// columns: 12
@import glid
// font: fontello
@import fonts

body
  font:
    size: percentage( 13 / 16 )
    family: Verdana,Arial,"メイリオ",Meiryo,"ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif
  line-height: 1.4em
  color: $mainColor
  background-color: $baseColor

// top
#contents
  +grid(1, 1)
  max-width: $width
  margin: 0 auto
  position: relative

  #side
    +borderBox
    +grid(24, 5, 0, 1)
    background-color: $mainColor
    color: $baseColor
    @media #{$tab}
      +grid(1, 1)
      border-bottom: 3px solid mix($baseColor, $mainColor)

    header
      +grid(1, 1)
      background-color: $mainColor

      #title
        +grid(1, 1)
        margin-bottom: 0
        border-bottom: 3px dashed $baseColor
        @media #{$tab}
          +grid(8, 3)
        @media #{$smp}
          +grid(2, 1)
          border-bottom: 2px solid mix($baseColor, $mainColor)

        h1
          width: 100%
          margin: 0
          margin-left: .5em
          height: 173px
          @media #{$des}
            background: url("title2.png") no-repeat
            text-indent: 100%
            white-space: nowrap
            overflow: hidden
            &:hover
              background: url("title2_hover.png") no-repeat
          @media #{$tab}
            height: auto
            padding: .17em
            color: $baseColor
            &:hover
              color: $mainHover
          @media #{$smp}
            font-size: 1.4em

      nav
        +grid(1, 1)
        font-size: 1.4em
        @media #{$des}
          margin: 1em 0 1em .3em
        @media #{$tab}
          +grid(8, 5)
          border-bottom: 3px dashed $baseColor
          margin-top: .5em
        @media #{$smp}
          +grid(1, 1)

        #registration
          height: 0
          +sideField
          margin-bottom: 1.3em
          @media #{$tab}
            +grid(5, 1)
          @media #{$smp}
            +grid(2, 1)
            position: absolute
            top: .15em
            left: 8.3em
            height: 1.15em
            border-bottom: 2px solid mix($baseColor, $mainColor)

          a
            color: $baseColor
            @media #{$des}
              padding: .2em 0
            &:before
              font-family: 'fontello'
              vertical-align: top
              content: 'p'
            &:hover
              border-bottom: 1px dashed $mainColor
              color: $mainHover
            @media #{$tab}
              &:hover
                border-bottom: none
            @media #{$smp}
              text-align: center
              display: block

        ul
          @media #{$smp}
            display: table
            width: 100%
            margin: 0

        ul li
          height: 1.4em
          @media #{$tab}
            +grid(5, 1)
          @media #{$smp}
            display: table-cell
            width: auto
            float: none

          a
            color: $baseColor
            @media #{$des}
              &:before
                font-size: 2.1em
                vertical-align: middle
                content: '・'
            &:hover
              color: $mainHover
            @media #{$tab}
              &:hover
                border-bottom: none
            @media #{$smp}
              font-size: 1em
              display: block
              text-align: center

          form
            +grid(1, 1)
            float: left
            height: 1em
            position: relative
            &:hover
              color: $mainHover
              input[type="submit"]
                color: $mainHover
            @media #{$des}
              &:before
                font-size: 2.1em
                vertical-align: middle
                content: '・'
            @media #{$tab}
              bottom: .15em
              &:hover
                border: none 
            @media #{$smp}
              font-size: 1em

            div
              @media #{$des}
                position: absolute
                left: .7em
                top: .4em

              input[type="submit"]
                border: none
                background-color: transparent
                color: $baseColor
                @media #{$smp}
                  margin-top: .3em

      #search
        +grid(12, 10, 1, 1)
        margin-bottom: 1em

        input[type="search"]
          +grid(8, 6)
          height: 1.3em
          font-size: 1em
          outline: none
          -webkit-appearance: textfield
          color: $mainColor
          border: none
          @media #{$tab}
            margin-top: 1em

        input[type="submit"]
          display: inline
          float: left
          width: 23.5%
          margin: 0
          padding: 0
          font-size: 1em
          height: 1.5em
          padding-top: .2em
          font-family: 'fontello'
          background-color: $mainColor
          border: none
          color: $baseColor
          &:hover
            text-shadow: 0 0 .8em $baseColor
          @media #{$tab}
            margin-top: 1em
          @media #{$smp}
            +pull(1, 10)
            +column(1, 10)
            height: 1.1em
            font-size: .89em
            position: relative
            top: .15em

        input
          margin: 0


      #popular-tags
        +grid(1, 1)
        margin-bottom: 1em
        margin-left: .8em
        @media #{$tab}
          margin-top: 1em
        @media #{$tab}, #{$smp}
          +grid(2, 1)

        ul
          position: relative
          left: .5em

          li
            margin: .3em 0
            @media #{$tab}
              float: left
              display: inline

            a
              color: $baseColor
              &:hover
                color: $mainHover
              @media #{$tab}
                padding: .5em

      #random-tags
        +grid(1, 1)
        margin-bottom: 1em
        margin-left: .8em
        @media #{$tab}
          margin-top: 1em
        @media #{$tab}, #{$smp}
          +grid(2, 1)

        ul
          position: relative
          left: .5em

          li
            margin: .3em 0
            @media #{$tab}
              float: left
              display: inline
            
            a
              color: $baseColor
              &:hover
                color: $mainHover
              @media #{$tab}
                padding: .5em

  #main
    +grid(24, 18)
    +borderBox
    margin-top: 0
    @media #{$tab}
      width: 100%
      padding: 0 .3em

    #main-contents
      +grid(1, 1)

      section
        margin: 1em 0 2em
        color: $mainColor

        h1
          padding: 0 0 .1em .5em
          height: 1em
          border-left: 5px solid $accentColor
          letter-spacing: .2em
          @media #{$tab}
            margin-top: 1.3em
            font-size: 1.6em
          @media #{$smp}
            font-size: 1.4em

        .tags
          height: 1.4em
          @media #{$smp}
            overflow: hidden // 対処法さがす
            font-size: .89em
            height: 1em
          

          ul
            display: inline

            li
              float: left
              margin-left: 1.3em
              &:before
                font-family: 'fontello'
                content: 't'

              a
                color: $mainColor
                @media #{$smp}
                  padding: .1em
                
          .tag_edit
            color: $accentColor
            margin-left: 1em

        .aa
          margin-bottom: .5em
          background-color: darken($baseColor, 5%)
          border: 5px solid $mainColor
          +borderBox

          p
            font-family: "MS Pゴシック"
            line-height: normal
            color: $mainColor
            font-size: percentage(12 / 13)
            margin: 0
            text-shadow: .021em .021em .055em, -.021em -.021em .055em
            @media #{$smp}
              font-size: 100% / 16 * 8

      .copy-button
        cursor: pointer
        +grid(8, 5)
        color: $mainColor
        &:hover
          border-bottom: 1px dashed $mainColor
          color: $mainHover
        &:before
          font-family: 'fontello'
          content: 'd'
        @media #{$tab}
          font-size: .89em
          +grid(2, 1)

      .user-info
        +grid(8, 2, 1, 0)
        text-align: right
        color: $accentColor
        @media #{$tab}
          +grid(2, 1)
          font-size: .89em

      #pagenation
        text-align: center

        a
          color: $mainColor
          margin: 0 .1em
          @media #{$tab}
            padding: 1em

        em
          color: $accentColor
          margin: 0 .1em
          @media #{$tab}
            padding: 1em

  #scroll-btn
    position: fixed
    color: $baseColor
    background-color: $mainColor
    +borderRadius(5px)
    display: none
    height: 1.4em
    width: 1.4em
    padding: .2em 0 0 .05em
    @media #{$des}
      right: 8em
      bottom: 1.3em
      font:
        weight: bold
        size: 2em
    @media #{$tab}, #{$smp}
      font:
        weight: bold
        size: 1em
      right: 1em
      bottom: 1em
    +borderBox
    &:after
      font-family: 'fontello'
      content: 'u'

  footer
    clear: both
    margin-top: 1em
    border-top: 3px dashed
    padding-top: 1em
    
    h3
      @media #{$smp}
        font:
          size: 1em
          weight: bold
        &:before
          font-family: 'fontello'
          content: '・'

    #left-footer
      +grid(12, 6)
      @media #{$smp}
        width: 100%

      #social
        width: 100%

        ul
          +grid(24, 3, 21, 0)

          li
            +grid(3, 1)

          #twitter
            &:after
              +fontButton('T', $baseColor, $twitterColor)

          #fb
            &:after
              +fontButton('F', $baseColor, $fbColor)

          #tumblr
            &:after
              +fontButton('U', $baseColor, $tumblrColor)

      #contact
        width: 100%

        div
          &:before
            font-family: 'fontello'
            content: 'c'
            color: $accentColor


    #right-footer
      +grid(12, 6)
      @media #{$smp}
        width: 100%
    
      #sitemap
        width: 100%

        div
          &:before
            font-family: 'fontello'
            content: 'm'
            color: $accentColor

    #copylight
      clear: both

      span
        display: block
        text-align: center
        font-weight: bold
        @media #{$smp}
          font-size: .89em
