@charset "UTF-8"

$baseColor: #f3f3f3
$mainColor: #695D53
$accentColor: #f0b25b

$mainHover: lighten($mainColor, 21%)
// デバグカラー
$dbg: red

$width: 980px

// micro clearfix
=clearfix
  *zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

=sideField
  margin-bottom: 1em
  +column(3, 4)
  +pull(1, 4)
